<section id="contact">
    <div class="wrapper-inline">
        <div class="box-left-contact">
            <div class="box-headline">Contact me</div>
            <div class="inner-box-wrapper">
                <div class="inner-box-headline">Let´s work together</div>
                <div class="box-subline">Got a problem to solve?</div>
                <div class="inner-box-text-block">
                    Encourage people to contact you and describe what role you are interested in. Show that you will add
                    value to their projects through your work.
                    <div class="contact-text-row">Need a Fullstack developer?
                        <span>Let’s talk!</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="box-right-contact">

            Form

        </div>
    </div>
</section>