<section id="contact">
    <div class="wrapper-inline__contact">
        <div class="box-left-contact">
            <div class="box-headline">{{ 'contact.headline' | translate }}</div>
            <div class="inner-box-wrapper">
                <div class="inner-box-headline">{{ 'contact.box-headline' | translate }}</div>
                <div class="box-subline">{{ 'contact.box-subline' | translate }}</div>
                <div class="inner-box-text-block">
                   {{ 'contact.description' | translate }}
                    <div class="contact-text-row">{{ 'contact.need' | translate }}
                        <span>{{ 'contact.need-talk' | translate }}</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="box-right-contact">
           <app-contact-form></app-contact-form>
        </div>
    </div>
</section>