<section id="about">
    <div class="wrapper-inline__height100">
        <div class="about-img-left">
            <img class="img-about" src="/assets/img/about-me/dummy-01.jpg" alt="" />
        </div>
        <div class="box-right">
            <div class="box-headline">Who I Am</div>
            <div class="content-box__right">
                <div class="inner-box-wrapper">
                    <div class="inner-box-headline">About me</div>
                    <div class="inner-box-text-block">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                        commodo
                        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. </div>
                    <div class="inner-box-list">
                        <table>
                            <tr>
                                <td><img class="icon-box-list" src="/assets/img/about-me/location-on.svg" /></td>
                                <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor.</td>
                            </tr>
                            <tr>
                                <td><img class="icon-box-list" src="/assets/img/about-me/cognition.svg" /></td>
                                <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor.</td>
                            </tr>
                            <tr>
                                <td><img class="icon-box-list" src="/assets/img/about-me/quality.svg" /></td>
                                <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor.</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>