<section id="about">
    <div class="wrapper-inline__height100">
        <div class="about-img-left">
            <img class="img-about" src="/assets/img/about-me/marc-riehl.jpg" alt="Bild Marc Riehl" />
        </div>
        <div class="box-right">
            <div class="box-headline">{{ 'who.headline' | translate }}</div>
            <div class="content-box__right">
                <div class="inner-box-wrapper">
                    <div class="inner-box-headline">{{ 'who.box-headline' | translate }}</div>
                    <div class="inner-box-text-block">{{ 'who.description.box-description' | translate }}</div>
                    <div class="inner-box-list">
                        <table>
                            <tr>
                                <td class="td-icon"><img class="icon-box-list" src="/assets/img/about-me/location-on.svg" /></td>
                                <td>{{ 'who.description.box-based' | translate }}</td>
                            </tr>
                            <tr>
                                <td class="td-icon"><img class="icon-box-list" src="/assets/img/about-me/cognition.svg" /></td>
                                <td>{{ 'who.description.box-technologies' | translate }}</td>
                            </tr>
                            <tr>
                                <td class="td-icon"><img class="icon-box-list" src="/assets/img/about-me/quality.svg" /></td>
                                <td>{{ 'who.description.box-learn' | translate }}</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>