<dialog #dialog class="project-dialog" (close)="onDialogClose()" closedby="any">
    <div class="flex-dialog-close">
        <button class="close-btn" (click)="closeDialog()">
        </button>
    </div>
    <div class="dialog-wrapper-inner">
        <div class="dialog-left">
            <h2 class="dialog-id">{{project.id}}</h2>
            <h2 class="dialog-title">{{ project.title }}</h2>
            <div class="dialog-subline">{{ 'portfolio.modal.headline' | translate }}</div>
            <div class="dialog-description">{{ project.description | translate }}</div>
            <div class="dialog-technologies">
                @for(tech of project.technologies; track tech.name) {
                <div class="dialog-list-technologie">
                    <div class="dialog-icon-technologie"><img src="{{ tech.logo }}" alt="" /> </div>
                    <div class="dialog-name-technologie">{{ tech.name }}</div>
                </div>
                }
            </div>
            <div class="dialog-buttons">
                <button class="button__external-link"><a href="{{ project.github }}" target="_blank"><span
                            class="button__text">GitHub</span></a></button>
                <button class="button__external-link"><a href="{{ project.url }}" target="_blank"><span
                            class="button__text">Live Test</span></a></button>
            </div>
        </div>
        <div class="dialog-img">
            <img [src]="project.previewImage">
        </div>
    </div>
    <div class="navigation">
        <div>
            <button type="button" (click)="next.emit()">
                <span>{{ 'portfolio.modal.next' | translate }}</span>
            </button>
        </div>
    </div>

</dialog>