@use '../abstract/' as *;

.button {
    &__default {
        overflow: hidden;
        border-radius: 100px;
        border: 1px solid $primary-color;
        background-color: transparent;
        padding: 10px 24px 10px 24px;
        height: 48px;
        width: auto;
        cursor: pointer;
        color: $primary-color;
        font-family: 'Karla';
        font-size: 18px;
        line-height: 120%;
        white-space: nowrap;

        @include mobile {
            padding: 10px 12px 10px 12px;
        }

        @include small-mobile {
            padding: 6px 12px 6px 12px;
        }

        @include landscape {
            padding: 6px 12px 6px 12px;
        }


        a {
            color: $primary-color;
            font-family: Karla;
            font-size: 18px;
            line-height: 120%;
        }

        span {
            display: inline-block;
        }

        &:not(:disabled):hover span {
            animation: text-loop 1.8s ease-out infinite;
        }

        &:not(:disabled):hover {
            border: 1px solid $secondary-color;
            color: $secondary-color;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    &__text {
        font-size: 18px;

        @include mobile {
            font-size: 16px;

        }

        @include small-mobile {
            letter-spacing: -10%;
        }

    }

}

@keyframes text-loop {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    45% {
        transform: translateX(-120%);
        opacity: 0;
    }

    46% {
        transform: translateX(120%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.button {
    &__external-link {
        overflow: hidden;
        color: $primary-color;
        font-family: 'Karla';
        font-size: 18px;
        line-height: 120%;
        width: auto;
        border-radius: 100px;
        border: 1px solid $primary-color;
        background-color: transparent;
        padding: 10px 34px 10px 24px;
        height: 48px;
        width: auto;
        cursor: pointer;
        position: relative;

        @include mobile {
            padding: 10px 34px 10px 14px;
        }

        &::after {
            content: '';
            width: 10px;
            height: 10px;
            background: url('/assets/img/projects/arrow-outward.svg') center / contain no-repeat;

            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) translateX(-18px);

            transition: transform 0.3s ease;
        }

        &:hover::after {
            transform: translateY(-80%) translateX(-14px);
        }

        span {
            display: inline-block;

        }

        &:hover span {
            transition: transform 0.3s ease-in;
            color: $secondary-color;
        }

        &:hover {
            border: 1px solid $secondary-color;
            color: $secondary-color;
        }

        a {
            color: $primary-color;
        }
    }
}