@use '../abstract/' as *;

.slider-wrapper {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 0;

}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 12px 32px;
    transform: translateY(-50px) rotate(-3deg);

    @include mobile-tablet {
        padding: 6px 16px;
    }

    @include landscape {
        padding: 6px 16px;
        transform: translateY(0px) rotate(0deg);
    }

}

.slider::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(6px);
    pointer-events: none;
}

.slider-inner {
    transform-origin: center;
}

.slider-track {
    display: flex;
    align-items: center;
    width: max-content;
    animation: marquee 18s linear infinite;
}

.separator {
    margin-right: 56px;
}

.slider-track span {
    font-size: 32px;
    font-weight: 400;
    font-family: Karla;
    line-height: 120%;
    color: $secondary-color;
}

.slider-track span:not(:last-child) {
    margin-right: 56px;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}