<section class="header-content">
      <div class="header-left">
            <div class="header-left-content">
            <div class="header-left-scroll"><span class="mouse-arrow"><img src="/assets/img/header/mouse-arrow.svg" /></span></div>
            <div class="header-left-stroke"></div>
            </div>
      </div>
      <div class="headline">
            <div class="header-subline">Fullstack Developer</div>
            <h1>Marc Riehl</h1>
            <div class="headline-buttons">
                  <button class="button__default"><span class="button__text">Check my work</span></button>
                  <button class="button__default"><span class="button__text">Contact me</span></button>
            </div>
      </div>
      <div class="header-right">
            <div class="header-right-content">
                  <div class="header-right-mail"><a
                              href="mailto:riehl@pixel-lay.de?subject=Ihre%20Anfrage%20an%20Marc%20Riehl">dummy@test.de</a></div>
                  <div class="header-right-logos"><a class="header-logo-github" href="https://github.com/MarcRiehl"
                              target="_blank"></a></div>
                  <div class="header-right-stroke"></div>
            </div>
      </div>
</section>