<div class="form-wrapper">
    <form [formGroup]="sendMailForm" (ngSubmit)="onSubmit()">
        <div class="form-cell">
            <div class="form-cell-label">
                <label for="name">{{ 'contact.mail.name' | translate }}</label>
            </div>
            <div>
                <input id="name" type="text" name="name" formControlName="name"
                    placeholder="{{ 'contact.mail.name-placeholder' | translate }}" />
            </div>
            <div class="form-error-placeholder">
                @if (name.touched && name.invalid) {

                @if (name.errors?.['required']) {

                <p class="form-error">
                    {{ 'contact.mail.name-error' | translate }}
                </p>
                }
                @if (name.errors?.['minlength']) {
                <p class="form-error">
                    {{ 'contact.mail.name-error-length' | translate }}
                </p>
                }
                }
            </div>
        </div>
        <div class="form-cell">
            <div class="form-cell-label">
                <label for="mail">{{ 'contact.mail.mail' | translate }}</label>
            </div>
            <div>
                <input id="mail" type="text" name="mail" formControlName="email"
                    placeholder="{{ 'contact.mail.mail-placeholder' | translate }}" />
            </div>
            <div class="form-error-placeholder">
                @if (email.touched && email.invalid) {
                <p class="form-error">
                    {{ 'contact.mail.mail-error' | translate }}
                </p>
                }
            </div>
        </div>
        <div class="form-cell">
            <div class="form-cell-label">
                <label for="message">{{ 'contact.mail.message' | translate }}</label>
            </div>
            <div>
                <input id="message" name="message" type="text" formControlName="message"
                    placeholder="{{ 'contact.mail.message-placeholder' | translate }}" />
            </div>
            <div class="form-error-placeholder">
                @if (message.touched && message.invalid) {
                <p class="form-error">
                    {{ 'contact.mail.message-error' | translate }}
                </p>
                }
            </div>
        </div>
        <div class="form-checkbox">
            <label class="custom-checkbox">
                <input type="checkbox" formControlName="privacyPolicy">
                <span class="checkbox-icon"></span>

            </label>
            <div class="checkkbox-policy-text">{{ 'contact.mail.policy-first' | translate }} <a
                    routerLink="privacy-policy">{{ 'contact.mail.policy-second' | translate }}</a>
                {{ 'contact.mail.policy-third' | translate }}
            </div>
        </div>
        <div class="form-error-placeholder">
            @if (privacyPolicy.invalid && privacyPolicy.dirty) {
            <p class="form-error__policy">
                {{ 'contact.mail.policy-error' | translate }}
            </p>
            }
        </div>
        <div class="form-submit">
            <button class="button__default" type="submit" [disabled]="sendMailForm.invalid">{{ 'buttons.hello' |
                translate
                }}</button>
        </div>
    </form>
    <div class="form-send-message">
        @if (formMessage) {
        <div class="form-message" [class.success]="messageType === 'success'" [class.error]="messageType === 'error'">
            {{ formMessage | translate }}
        </div>
        }
    </div>
</div>