<section class="wrapper-legal">
    <section class="wrapper-legal-content">
        <section class="wrapper-legal-content-inner">
            <h1 class="legal-privacy">{{ 'privacy.headline' | translate }}</h1>
            <div class="text-legal">
                <p>{{ 'privacy.description1' | translate }}</p>
                <p>{{ 'privacy.description2' | translate }}</p>
                <p>{{ 'privacy.description3' | translate }}</p>
                <p>{{ 'privacy.description4' | translate }}</p>
                <h3 class="legal">{{ 'privacy.subline-logfiles' | translate }}</h3>
                <p>{{ 'privacy.logfiles-description' | translate }}</p>
                <ul>
                    <li>{{ 'privacy.logfiles-list.website' | translate }}</li>
                    <li>{{ 'privacy.logfiles-list.time' | translate }}</li>
                    <li>{{ 'privacy.logfiles-list.data' | translate }}</li>
                    <li>{{ 'privacy.logfiles-list.source' | translate }}</li>
                    <li>{{ 'privacy.logfiles-list.browser' | translate }}</li>
                    <li>{{ 'privacy.logfiles-list.system' | translate }}</li>
                    <li>{{ 'privacy.logfiles-list.ip' | translate }}</li>
                </ul>
                <br>
                <p>{{ 'privacy.logfiles-description2' | translate }}</p>
                <h3 class="legal">{{ 'privacy.subline-contact-forms' | translate }}</h3>
                <p>{{ 'privacy.contact-forms-description' | translate }}</p>
                <h3 class="legal">{{ 'privacy.subline-ssl' | translate }}</h3>
                <p>{{ 'privacy.ssl-description' | translate }}</p>
                <h3 class="legal">{{ 'privacy.subline-right' | translate }}</h3>
                <p>{{ 'privacy.right-description1' | translate }}</p>
                <p>{{ 'privacy.right-description2' | translate }}</p>
                <p>{{ 'privacy.right-description3' | translate }}</p>
            </div>

        </section>
    </section>
    <section class="wrapper-end-legal"></section>
</section>