@use '../abstract/' as *;


#about {
    @include mobile {
        margin-top: 80px;
    }
}

.about-img-left {
    position: relative;
    width: 568px;
    height: 568px;

    @include mobile {
        width: 100%;
        height: 100%;
    }


    &::after {
        content: '';
        position: absolute;
        left: -24px;
        top: 24px;
        width: 568px;
        height: 568px;
        border-radius: 30px;
        background: url('/assets/img/about-me/about-img-hover.svg') center center / cover no-repeat;
        opacity: 0;
        transition: opacity 0.2s ease;
        z-index: -1; // hinter dem Bild

        @include mobile {
            width: 100%;
            height: 100%;
            left: -10px;
            top: 12px;
        }
    }

    &:hover::after {
        opacity: 1;
    }
}

.img-about {
    width: 568px;
    height: 568px;
    display: block;
    border-radius: 30px;
    position: relative;
    z-index: 1;

    @include mobile {
        width: 100%;
        height: 100%;
    }
}