@use '../abstract/' as *;

.box-left-contact {
    width: 50%;
}

.box-right-contact {
    width: 50%;
}

.box-subline {
    font-size: 24px;
    color: $secondary-color;
    font-weight: bold;
    line-height: 120%;
    padding-bottom: 16px;
}

.contact-text-row {
    margin-top: 16px;
    font-family: Karla;
    line-height: 120%;

    span {
        color: $secondary-color;
        font-weight: bold;
        font-family: Karla;
    }
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-wrapper input{
color: $primary-color;

    background-color: transparent;
    border: none;
    outline: none;
}

.form-cell{
    padding: 24px;
    border-top: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
}

.form-checkbox{
    display: flex;
}

.checkbox{

}

.form-submit{
    display: flex;
    justify-content: center;
}