@use '../abstract/' as *;

.projects {
    width: 100%;
    min-height: 340px;

    @include mobile-tablet {
        min-height: 0px;
        margin-bottom: 80px;
    }

    @include desktop {
        min-height: 300px;
    }
}

.project-wrapper {
    display: flex;
    position: relative;
    gap: 80px;

    @include desktop {
        gap: 40px;
    }
}

.project-list {
    width: 70%;

    @include mobile {
        width: 100%;
    }

    @include tablet {
        width: 100%;
    }

    @include mobile-tablet-hover {
        width: 100%;
    }

    @include desktop {
        width: 70%;
    }
}

.wrapper-project-list-technologie {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.project-wrapper .project-preview {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 24px;
    border-top: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
    transition: 0.3s ease-in;

    @include mobile {
        padding: 32px 0;
        flex-direction: column;
        align-items: flex-start;
    }


    &:hover {
        background-color: rgba(61, 207, 182, 0.3);
    }
}

.project-preview {
    position: relative;
    right: 0;
    width: 30%;
    pointer-events: none;
    transition: top 250ms ease;

    img {
        width: 296px;
        height: 192px;
        border-radius: 16px;

        @include desktop {
            width: 240px;
            height: 156px;
        }

        @include desktop-l {
            width: 300px;
            height: 195px;
        }


    }

    &::after {
        content: '';
        position: absolute;
        right: -20px;
        bottom: -20px;
        width: 293px;
        height: 192px;
        border-radius: 16px;
        background: url('/assets/img/projects/img-background-hover.svg') center center / cover no-repeat;
        opacity: 0;
        z-index: -1; // hinter dem Bild

        @include desktop {
            width: 240px;
            height: 156px;
            right: -10px;
            bottom: -10px;
        }

        @include desktop-l {
            width: 300px;
            height: 195px;
            right: -10px;
            bottom: -10px;
        }

    }

    &.has-preview::after {
        opacity: 1;
    }

    @include mobile {
        display: none !important;
    }

    @include tablet {
        display: none !important;
    }

    @include mobile-tablet-hover {
        display: none !important;
    }


}

@keyframes fadeIn {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}


.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.tech-item {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
        width: 32px;
        height: 32px;
        object-fit: contain;
    }
}

.project-list-titel {
    font-weight: bold;
    font-size: 24px;
    color: $primary-color;
    line-height: 120%;


}

.product-list-technologie {
    color: $primary-color;
    font-size: 18px;
    font-family: 'Karla';

    @include mobile {
        font-size: 16px;
    }

    &:not(:last-child)::after {
        content: "|";
        margin: 0 8px;
        color: $secondary-color;

        @include mobile {
            margin: 0 3px;
        }
    }
}