@use '../abstract/' as *;

#reference {
    margin-bottom: 128px;
}

.reference-wrapper {
    position: relative;
}

.reference-headline {
    display: flex;
    justify-content: center;
    color: $secondary-color;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 0px;

    @include mobile {
        font-size: 24px;
        text-align: center;
    }
}

.carousel-quotes {
    position: relative;
    left: 28%;
    top: 40px;
    width: 90px;
    height: 64px;
    background: url('/assets/img/reference/quotes.svg') no-repeat center;
    background-size: contain;
    z-index: 20;

    @include mobile {
        width: 56px;
        height: 40px;
        left: 8%;
        top: 20px;
    }
    @include tablet {
        width: 56px;
        height: 40px;
        left: 18%;
        top: 20px;
    }
}


.embla {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    display: flex;

}

.embla__slide {
    flex: 0 0 40%;
    transition: transform .35s ease, opacity .35s ease;
    opacity: .6;
    transform: scale(.9);
}

.embla__slide.is-active {
    opacity: 1;
    transform: scale(1);
}

@include tablet {

    .embla__slide {
        flex: 0 0 60%;
    }

}

@include mobile {

    .embla__slide {
        flex: 0 0 80%;
        padding: 0 8px;
    }

}

.reference-card {
    width: 100%;
    min-height: 300px;

    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 32px;
    border: 1px solid $secondary-color;

    background: rgba(61, 207, 182, .1);

    transition:
        transform .35s ease,
        background .35s ease;

    @include mobile {
        padding: 24px;
    }
}

.reference-card.active {
    background: rgba(61, 207, 182, .3);
}


.reference-message {
    font-family: Karla;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color:$primary-color;
}

.reference-author {
     font-family: Karla;
    line-height: 120%;
    text-align: right;
     color:$primary-color;
}

.author-box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.author-box::before {
    content: '';
    flex: 1;
    height: 1px;
    background: $primary-color;
}

.slider-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
}

.nav-arrow-left,
.nav-arrow-right {
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.nav-arrow-left {
    background: url('/assets/img/reference/arrow-left.svg') center/contain no-repeat;

    &:hover {
        transform: translateX(-8px);
        background-image: url('/assets/img/reference/arrow-left-hover.svg');
    }
}

.nav-arrow-right {
    background: url('/assets/img/reference/arrow-right.svg') center/contain no-repeat;

    &:hover {
        transform: translateX(8px);
        background-image: url('/assets/img/reference/arrow-right-hover.svg');
    }
}

.bullets {
    display: flex;
    gap: 18px;
}

.bullet {
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.bullet.active {
    background: $secondary-color;
    transform: scale(.8);
}