@use '../abstract/' as *;

#skills {
    @include mobile {
        margin-top: 40px;
    }
}

.inner-box-subline {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 24px;
    color: $primary-color;

    span {
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 24px;
        color: $secondary-color;

    }
}

.wrapper-skills {
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59, 0.3) 0%, #1C1C1C 100%);

          @include desktop {
        margin-top: 60px;
    }
}

.skills-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @include mobile {
        justify-content: center;
    }

    @include tablet {
        justify-content: center;
    }
      @include desktop {
        justify-content: center;
    }
}

.skill-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
    width: 80%;
    margin-top: 44px;
    padding-top: 32px;

    @include mobile {
        grid-template-columns: repeat(3, 1fr);
        gap: 26px;
        margin-top: 20px;
        justify-content: center;
    }

    @include tablet {
        grid-template-columns: repeat(3, 1fr);
    }
        @include desktop{
        grid-template-columns: repeat(3, 1fr);
    }
}

.skill-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: relative;


    &:hover .speech-bubble {
        opacity: 1;
        visibility: visible;
    
    }

}

.skill-icon-img {
    width: 64px;
    height: auto;
    object-fit: contain;
    transform: scale(1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.2);
    }
}

.skill-name {
    font-weight: 400;
    color: $primary-color;
    font-size: 18px;
    line-height: 120%;
    transition: color 0.3s ease;

    @include mobile {
        font-size: 16px;
        text-align: center;
    }
        @include small-mobile {
        font-size: 16px;
        text-align: center;
        letter-spacing: -6%;
    }

}

.last-skill:hover .skill-name {
    color: $secondary-color;
}

.last-skill {
    text-align: center;
}

.last-skill .speech-bubble {

    &::after {
        left: auto;
        right: 36px;
        transform: rotate(45deg);
    }
}


.speech-bubble {
    left: 50%;
    transform: translateX(-50%);
}

@supports (anchor-name: --anchor) {
    .last-skill {
        anchor-name: --last-skill;
    }

    .speech-bubble {
    position: absolute;
    position-anchor: --skill-anchor;

    left: anchor(center);
    top: anchor(top);

    translate: 20% calc(-80% - 20px);
    }
}

.speech-bubble {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity .3s ease,
        visibility .3s ease;
    padding: 16px;
    border-radius: 16px;
    background: #fff;
    width: min(220px, calc(100vw - 32px));
    filter: drop-shadow(0 4px 12px rgba(0,0,0,.25));
}

.speech-bubble::after {
    content: "";
    position: absolute;

    left: 50%;
    bottom: -8px;

    width: 16px;
    height: 16px;

    background: inherit;
    border-radius: 4px;

    transform: translateX(-50%) rotate(45deg);
}
.bubble-icons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 12px;

    img {
        width: 32px;
        height: 32px;

    }
}

.bubble-inner-icons {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.bubble-text {
    color: $secondary-color;
    font-family: Karla;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}

.bubble-skill-name {
    color: $secondary-color;
    font-family: Karla;
    font-weight: bold;
    font-size: 12px;
    line-height: 108%;
    padding-top: 8px;
}