@use '../abstract/' as *;

header {
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 13.56%, rgba(0, 0, 0, 0.6) 84.01%);
}

.top-menu {
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;

}

.top-menu-left {
    display: flex;
    align-items: center;
}

.link-top-menu {
    padding-right: 10px;
    cursor: pointer;
    color: $primary-color;
}

.link-top-menu:hover {
    color: $secondary-color;
}

.link-language-switch{
padding-right: 10px;
}

.logo{
    width: 120px;
}