header {
width: 100%;
background: linear-gradient(0deg, rgba(0, 0, 0, 0) 13.56%, rgba(0, 0, 0, 0.6) 84.01%);
}

.top-menu {
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    color: #FFF;
}

.top-menu-left{
    display: flex;
}
.top-menu-left > div{
    padding-right: 10px;
    cursor: pointer;
}