<footer>
    <div class="footer-flex">
        <div class="footer-left">
            <div class="footer-logo"><img class="logo" src="./assets/img/logo/logo-riehl-default.png"
                    alt="logo marc riehl"></div>
            <div class="text-footer-left">
                <div class="text-spacer">Fullstack Developer</div>
                <div>Mendig Germany</div>
            </div>
        </div>
        <div class="footer-center">
            @ Marc Riehl 2026
        </div>
        <div class="footer-right">
            <div class="footer-right-navigation">
                <a href="https://github.com/MarcRiehl" target="_blank">Github</a>
                <a href="mailto:info@marc-riehl.de?subject=Ihre%20Anfrage%20an%20Marc%20Riehl">Email</a>
                <a routerLink="legal-notice">{{ 'footer.legal' | translate }}</a>
            </div>
        </div>

    </div>
</footer>