<main>
    <section class="wrapper-header">
        <app-top-menu></app-top-menu>
        <app-header></app-header>
    </section>
    <section class="wrapper-content">
        <section class="wrapper-content-inner">
            <app-about-me></app-about-me>
        </section>
    </section>
    <section class="wrapper-skills">
        <section class="wrapper-content">
            <section class="wrapper-content-inner">
                <app-skill-set></app-skill-set>
            </section>
        </section>
    </section>
    <section class="wrapper-content">
        <section class="wrapper-content-inner">
            <app-featured-projects></app-featured-projects>
            <app-feed></app-feed>
            <app-contact></app-contact>
        </section>
    </section>
</main>
<section class="wrapper-footer">
    <app-footer></app-footer>
</section>