<main>
    <section class="wrapper-header">
        <app-header></app-header>
    </section>
    <section class="wrapper-content container" data-aos="fade-down" data-aos-duration="500">
        <section class="wrapper-content-inner">
            <app-about-me></app-about-me>
        </section>
    </section>
    <section class="wrapper-skills container" data-aos="fade-right" data-aos-duration="500">
        <section class="wrapper-content">
            <section class="wrapper-content-inner">
                <app-skill-set></app-skill-set>
            </section>
        </section>
    </section>
    <section class="wrapper-content container" data-aos="fade-up" data-aos-duration="500">
        <section class="wrapper-content-inner">
            <app-featured-projects></app-featured-projects>
        </section>
    </section>
    <section class="wrapper-content__reference" data-aos="zoom-in" data-aos-duration="500">
        <section class="wrapper-content-inner">
            <app-feed></app-feed>
        </section>
    </section>
    <section class="wrapper-content container">
        <section class="wrapper-content-inner">
            <app-contact></app-contact>
        </section>
    </section>
</main>