<main>
    <section class="wrapper-header">
        <app-header></app-header>
    </section>
    <section class="wrapper-content container">
        <section class="wrapper-content-inner">
            <app-about-me></app-about-me>
        </section>
    </section>
    <section class="wrapper-skills container">
        <section class="wrapper-content">
            <section class="wrapper-content-inner">
                <app-skill-set></app-skill-set>
            </section>
        </section>
    </section>
    <section class="wrapper-content container">
        <section class="wrapper-content-inner">
            <app-featured-projects></app-featured-projects>
        </section>
    </section>
    <section class="wrapper-content__reference">
        <section class="wrapper-content-inner">
            <app-feed></app-feed>
        </section>
    </section>
    <section class="wrapper-content container">
        <section class="wrapper-content-inner">
            <app-contact></app-contact>
        </section>
    </section>
</main>