<section id="skills">
    <div class="wrapper-inline">
        <div class="box-right">
            <div class="box-headline">Technologies</div>
            <div class="content-box__left">
                <div class="inner-box-wrapper">
                    <div class="inner-box-headline">Skill Set</div>
                    <div class="inner-box-text-block">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                        commodo
                        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. </div>
                    <div class="inner-box-subline">
                        You need <span>another Skill?</span>
                    </div>
                    <div class="inner-box-text-block">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                        commodo ligula eget dolor.
                    </div>
                    <button class="button__default"><span class="button__text">Let&acute;s Talk</span></button>
                </div>
            </div>
        </div>
        <div class="skill-box">
        </div>
    </div>
</section>