<section id="skills">
    <div class="wrapper-inline">
        <div class="box-right">
            <div class="box-headline">{{ 'skill.headline' | translate }}</div>
            <div class="content-box__left">
                <div class="inner-box-wrapper">
                    <div class="inner-box-headline">{{ 'skill.box-headline' | translate }}</div>
                    <div class="inner-box-text-block">{{ 'skill.description.box-description' | translate }}</div>
                    <div class="inner-box-subline">
                        {{ 'skill.description.another-skill-first' | translate }} <span>{{
                            'skill.description.another-skill-second' | translate }} </span>
                    </div>
                    <div class="inner-box-text-block">
                        {{ 'skill.description.contact' | translate }}
                    </div>
                    <button class="button__default"><a routerLink="/" fragment="contact"><span class="button__text">
                                {{ 'buttons.talk' | translate }}
                            </span></a></button>
                </div>
            </div>
        </div>
        <div class="skills-container">
            <div class="skill-box">
                @for (skill of skills; track $index; let last = $last) {
                <div class="skill-description" [class.last-skill]="last">
                    <img class="skill-icon-img" src="{{skill.img}}" alt="" />
                    <div class="skill-name">{{skill.name}}</div>
                    @if (skill.bubble) {
                    <div class="speech-bubble">
                        <div class="bubble-text">{{ skill.bubble.text }}</div>
                        <div class="bubble-icons">
                            <div class="bubble-inner-icons">
                                <img [src]="skill.bubble.img1" alt="">
                                <div class="bubble-skill-name">{{skill.bubble.name1}}</div>
                            </div>
                            <div class="bubble-inner-icons">
                                <img [src]="skill.bubble.img2" alt="">
                                <div class="bubble-skill-name">{{skill.bubble.name2}}</div>
                            </div>
                        </div>

                    </div>
                    }

                </div>
                }
            </div>
        </div>
    </div>
</section>