<header>
    <div class="top-menu">
       <nav class="top-menu-left">
        <div class="hide-mobil link-language-switch"><img class="img-language-switch" src="./assets/img/language-switcher/switch-english.png" alt="language-switch"/></div>
        <div class="hide-mobil link-top-menu" (click)="scrollToSection('about')">About me</div>
        <div class="hide-mobil link-top-menu" (click)="scrollToSection('skills')">Skills</div>
        <div class="hide-mobil link-top-menu" (click)="scrollToSection('projects')">Projects</div>
       </nav>
       <div class="top-logo"><img class="logo" src="./assets/img/logo/logo-riehl-default.png" alt="logo marc riehl"></div>
    </div>
</header>