<section class="wrapper-legal">
    <section class="wrapper-legal-content">
        <section class="wrapper-legal-content-inner">
            <h1 class="legal-privacy">{{ 'legal.headline' | translate }}</h1>
            <h3 class="legal">{{ 'legal.subline' | translate }}</h3>
            <br><br>
            <div class="text-legal">
                <p>{{ 'legal.contact.name' | translate }}</p>
                <p>{{ 'legal.contact.street' | translate }}</p>
                <p>{{ 'legal.contact.plz' | translate }}</p>
                <p>{{ 'legal.contact.contact' | translate }}</p>
                <p>{{ 'legal.contact.phone-name' | translate }} {{ 'legal.contact.phone' | translate }}</p>
                <p>{{ 'legal.contact.mail-name' | translate }} {{ 'legal.contact.mail' | translate }}</p>
                <h3 class="legal">{{ 'legal.disclaimer' | translate }}</h3>
                <br>
                <h3 class="legal">{{ 'legal.liability-content-headline' | translate }}</h3>
                <p>{{ 'legal.liability-content-description' | translate }}</p>
                <h3 class="legal">{{ 'legal.liability-links-headline' | translate }}</h3>
                <p>{{ 'legal.liability-links-description' | translate }}</p>
                <h3 class="legal">{{ 'legal.copyright-headline' | translate }}</h3>
                <p>{{ 'legal.copyright-description' | translate }}</p>

            </div>

        </section>
    </section>
    <section class="wrapper-end-legal"></section>
</section>